<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <h2>EASYMEETS – spearheading engagement.</h2>
  <br>
  <div style="padding-left: 150px; padding-right: 150px">EASYMEETS aims to connect people, ideas, and moments to bring out creativity and productivity. 
  The application was created with the belief that teams work better when high engagement surrounds the work environment. 
  To ensure people’s lives run simple, a united community network will allow increased team productivity 
  and strengthen any company culture. EASYMEETS provides a social platform for employees to meet one another 
  through breaks, lunches, and social activities, ensuring people step outside their team or department to grow 
  their social network. The mentality of pushing the boundaries of social engagement allows more efficient performance 
  by leveraging connections built in social settings. When people share ideas, experiences, and thoughts - innovation prospers 
  to remove the barriers that affect employee morale.</div>

</p>