<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Interested in opportunities to promote your business across our client base filled with innovative organizations? Feel free to contact us at inquiries@easymeets.com.
</p>