<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :restaurant_name, placeholder: "Restaurant name" %>
    <button class="btn btn-primary" id="surprise-button" type="button" onclick="restaurantGenerator()">Surprise me!</button>
    <%= f.text_area :meeting_location, placeholder: "Meeting location" %>
    <%= f.date_field :date, placeholder: "When do you want to meet" %>
    <%= f.select :hours, options_for_select('1'..'24'), { prompt: "Hour"} %>
    <%= f.select :minutes, options_for_select([0,5,10,15,20,25,30,35,40,45,50,55]), {prompt: "Minute"} %>
    <%= f.select :max_spots, options_for_select(1..50), { prompt: "Max Number of Participants - Optional"} %>
    <%= f.text_area :content, placeholder: "Description (Optional)" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">

  function restaurantGenerator() {
      var restaurants = ["Blue Water Café", "Lupo Restaurant", "Minami", "Rodney’s Oyster House", "The Flying Pig", "Brix & Mortar", "Provence Marinaside", "Homer St. Café and Bar", "Yaletown Brewing Co", "Cioppino’s", "WildTale Coastal Grill", "La Pentola", "Cactus Club Café", "West Oak", "Tacofino", "Earls", "The Greek By Anatoli", "The Distillery Bar", "The Parlour", "Zend Conscious Lounge", "Kaide Sushi", "Pizzeria Farina", "Simply Thai Restaurant", "Per se Social Corner", "Opus Bar", "Mister", "Twb - The Wine Bar", "Bistro Sakana", "La Terrazza", "Hapa Izakaya Yaletown", "L’Antipasto", "Elements Diner", "Rice and Spice", "Sushi Maro", "Salsa and Agave", "Small Victory Bakery", "DD Mau", "Bella Gelateria", "Patron Tacos & Cantina", "Ebi Ten", "Black Rice Izakaya", "Hub Restaurant", "Kibo Restaurant and Lounge", "NoodleBox", "Hurricane Grill", "On Yogurt", "Sciue", "Little Saigon", "Straight Outta Brooklyn", "Moxie’s Grill & Bar", "Library Square Public House", "Fanny Bay Oyster Bar", "Honjin Sushi", "Memphis Blues Barbeque", "Kuma Izakaya", "Fresh Bowl", "Le Petit Belge", "Loving Hut Express", "Urban Fare", "Yopo Cafe", "Super Chef Grill", "Grounds for Appeal", "Jimmy’s Tap House", "Bean Around the World", "Original Joe’s", "Central City Brew Pub & Restaurants", "Tako", "Boston Pizza", "Zend Conscious Lounge", "Leafy Box", "Big Dogs Diner"]
      var rand = restaurants[Math.floor(Math.random() * restaurants.length)];
      document.getElementById("micropost_restaurant_name").value = rand
  }

  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
