<%= form_for(current_user.activity_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :post_id, @micropost.id %></div>
  <%= f.submit "Join", type="button" class: "btn btn-primary" %>
<% end %>
