<li id="micropost-<%= micropost.id %>" style="float: left; padding-right: 10px">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= micropost.restaurant_name %></h3>
    </div>
    <div class="panel-body">
      <span class="user" style="font-size: 115%">
        Organizer: <%= link_to micropost.user.name, micropost.user %>
      </span>
      <div class="location">
        Meeting at: <%= micropost.meeting_location %>
      </div>
      <div class="meeting_time">
        At: <%= micropost.meeting_time.strftime('%Y-%m-%d %H:%M:%S %Z') %>
      </div>
      <div class="participants">
        <% if micropost.max_spots.nil? %>
          Participants: <%= micropost.joiners.count %>
        <% else %>
          Participants: <%= micropost.joiners.count %>/<%= micropost.max_spots %>
        <% end %>
      </div>
      <div class="content">
        <%= micropost.content %>
        <%= image_tag micropost.picture.url if micropost.picture? %>
      </div>
      <div class="join_activity", style="padding-top: 10px">
        <% if current_user.joined?(micropost) %>
          <%= link_to "Unjoin", joinpost_path(id: micropost.id), method: :delete %>
        <% else %>
          <%= link_to "Join", joinposts_path(post_id: micropost.id), method: :post %>
        <% end %>
      </div>
      <span class="joiners_list">
          <% if micropost.joiners.length == 1 %>
            <% micropost.joiners.each do |u| %>
            <span><%= u.name.split.first%></span>
            <% end %>
          <% else %> 
            <span> <%= micropost.joiners.map{|u| u.name}.join(", ") %> </span>
          <% end %>  
      </span>
      
      <span class="timestamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user?(micropost.user) %>
          <%= link_to "delete", micropost, method: :delete,
                                           data: { confirm: "Are you sure?" } %>
        <% end %>
      </span>
    </div>
  </div>
</li>

