<%= form_for(current_user.activity_relationships.find_by(post_id: @micropost.id),
             html: {method: :delete},
             remote: true) do |f| %>
  <%= f.submit "Unjoin", class: "btn" %>
<% end %>
