<% provide(:title, "Meet at " + @micropost.restaurant_name) %>
<div class="row">
  <div class="meetup_info">
    <span id="user"><%= link_to @micropost.user.name, @micropost.user %></span>
    <span id="restaurant_name">
      <%= @micropost.restaurant_name %>
    </span>
    <span id="location">
      <%= @micropost.meeting_location %>
    </span>
    <span id="meeting_time">
      <%= @micropost.meeting_time.strftime('%m-%d-%Y %H:%M:%S %Z') %>
    </span>
    <span id="max_spots">
      Max spots: <%= @micropost.max_spots %>
    </span>
    <span id="users_attending">
      Users coming: <%= @micropost.users_attending %>
    </span>
    <span id="content">
      <%= @micropost.content %>
      <%= image_tag @micropost.picture.url if @micropost.picture? %>
    </span>
    <span id="timestamp">
      Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
      <% if current_user?(@micropost.user) %>
        <%= link_to "delete", @micropost, method: :delete,
                                         data: { confirm: "You sure?" } %>
      <% end %>
    </span>
    <div id="joiners">
      <% if @micropost.joiners.any? %>
        <%= @micropost.joiners %>
      <% end %>
    </div>
    <div id="join_activity">
      <%= render 'microposts/join_form' %>
    </div>
  </div>
</div>
