<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  
    
    <%= render 'layouts/header' %>
    <!--<div class="panel panel-primary">-->
    <!--  <div class="panel-heading"> -->
    <!--    <h3 class="panel-title">RESTAURANT NAME VAR HERE</h3>-->
    <!--  </div>-->
    <!--  <div class="panel-body">-->
    <!--    <ul>TIME</ul>-->
    <!--    <ul>MEETING LOC</ul>-->
    <!--    <ul>PARTICIPANTS (W/ MOUSEOVER)</ul>-->
    <!--  </div>-->
    <!--</div>-->
    
    <!--<div class="micropost_container">-->
    <!--  <div class="row">-->
    <!--    <div class="panel panel-primary">-->
    <!--      <div class="panel-heading"> -->
    <!--        <h3 class="panel-title">RESTAURANT NAME VAR HERE</h3>-->
    <!--      </div>-->
    <!--      <div class="panel-body">-->
    <!--        <ul>TIME</ul>-->
    <!--        <ul>MEETING LOC</ul>-->
    <!--        <ul>PARTICIPANTS (W/ MOUSEOVER)</ul>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
